{{define "aside"}}
    <nav>
        <a
            href="/"
            hx-boost="true"
            {{if eq .ActivePage "home"}} class="active"{{end}}
        >
            Home
        </a>
        <a
            href="/posts"
            hx-boost="true"
            {{if eq .ActivePage "posts"}} class="active"{{end}}
        >
            Posts
        </a>
        <a
            href="/posts/create"
            hx-boost="true"
            {{if eq .ActivePage "create"}} class="active"{{end}}
        >
            Create
        </a>
    </nav>
{{end}}