{{define "nav"}}
    <a href="/" {{if eq .ActivePage "home"}} class="active"{{end}}>Home</a>
    <a href="/posts" {{if eq .ActivePage "posts"}} class="active"{{end}}>Posts</a>
    <a href="/posts/create" {{if eq .ActivePage "create"}} class="active"{{end}}>Create</a>
{{end}}